.navbar{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.navbar ul{
  list-style-type : none;
  background-color: white;
  padding : 0px;
  margin : 0px;
  overflow : hidden;
}

.navbar a{
  color : var(--color-accent);
  text-decoration : none;
  padding : 15px;
  display: block;
  text-align:center;
}

.navbar a:hover{
  background-color : var(--color-accent);
  color:white;
}

.navbar li{
  float : left;
}

.content img{
    width : 100%;
}